*, 
*::after, 
*::before{
 box-sizing: border-box;   
 margin: 0;
 padding:0;
}
body{
    font-size: 62.5%;
    background-color: #131F39;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav ul{
    display: none;
}
.logo{
    display: flex;
    justify-content: space-between;
}
.logo img{
    width: 55px;
    height: 55px;
    margin-top: 1.6rem;
    margin-right: 1.5rem;
}
.logo h2{
    font-size: 2rem;
    margin: 1.4rem;
    color:#C6BDBD;
}
#hero img{
    width: 180px;
    height: 180px;
    border-radius: 100%;
    object-fit: cover;
    margin: 0  0 0 6rem;
}
.hero-name{
    font-size: 1.3rem;
    text-align: center;
    margin-top: .5rem;
    color: #FCA311;
}
.hero-desc{
    font-size: 1.01rem;
    text-align: center;
    margin: 0 1rem;
    color: #E5E5E5;
}
.hero-adcopy{
    font-size:1.5rem;
    margin: .8rem 0 0 1.3rem;
    color: #FCA311;
}
.hero-addesc{
    font-size: 1.01rem;
    text-align: center;
    margin: 0 1rem;
    color: #E5E5E5;
}
#hero button{
    font-size: 1.3rem;
    padding: 13px;
    margin: 1.3rem;
    border: none;
    border-radius: 8px;
    color: #E5E5E5;
    background-color: #BA780B;
}
#About h2{
    font-size: 2.5rem;
    text-align: center;
    color: #FCA311;
}
#About img{
    width: 250px;
    border-radius: 50%;
    margin-left: 4.7rem;
    margin-top: 1rem;
}
#About p{
    font-size: 1.2rem;
    margin: 1rem 1.5rem;
    font-weight: 300;
    letter-spacing: .02rem;
    color: #E5E5E5;
}
#Projects h2{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1.3rem;
    color: #FCA311;
}
.project-img{
    width: 350px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 1.9rem;
    margin-bottom: .7rem;
}
.project-title{
    margin-bottom: 4rem;
    text-align: center;
    font-size: 1.8rem;
    color: #FCA311;
}
#blog h2{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1.3rem;
    color: #FCA311;
}
.blogs{
    display: flex;
    flex-direction: column;
}
.blog-img{
    width: 350px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 1.9rem;
    margin-bottom: .7rem;
}
.blog-img-author{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 2rem;
    margin-top: -.5rem;
}
.author{
    display: flex;
}
.blog-author{
    font-size:1rem;
    margin-left: .5rem;
    display: block;
    color: #DFDAD1;
}
.published-date{
    font-size: .85rem;
    margin-left: .7rem;
    color: #DFDAD1;
}
.blog-title{
    font-size: 1.3rem;
    margin: .5rem 0 0 2.4rem;
    color: #FFF;
}
.reactions{
    display: flex;
}
.blog-img-likes{
    width: 50px;
    position: relative;
    top:-9px;
    left: 11px;
    margin-left: 2rem;
    margin-right: .5rem
}
.blog-img-comments{
    width: 30px;
    height: 26.5px;
    position: relative;
    top: 1px;
    margin-right: .5rem
}
.reactions{
    font-size: 1.1rem;
    margin-top: .3rem;
    margin-right:1rem;
    color: #DFDAD1;
}
form{
    border: none;
    border-radius: 40px;
    height: 50vh;
    padding: 2rem 2.5rem;
    margin: 2.2rem;
    display: flex;
    flex-direction: column;
    background-color: #1A1F29;
}
form h3{
    font-size: 2rem;
    text-align: center;
    color: #E5E5E5;
    font-weight: bold;
}
form label{
    font-size: 1.1rem;
    margin: 1.5rem 0 .2rem 2.5rem;
    color: #E5E5E5;
    letter-spacing: .1rem;
    font-weight: bold;
}
form input{
    border: none;
    margin: 0 0 0 2.5rem;
    font-size: 1rem;
    background-color: #1A1F29;
}
.btn{
    margin : 2rem 0;
    padding: 1rem 2rem;
    width: 100%;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    border-radius: 26px;
    color: #E5E5E5;
    background-color: #c98416;
    font-weight: bold;
}
.line{
    border: .5px solid #141414;
    width: 13rem;
    position: relative;
    bottom: -3px;
    left: 30px;
}
