* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #e5e5e5;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html {
  background-color: #131f39;
  font-size: 62.5%;
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}
.align-center {
  align-items: center;
}

/* HEADER SECTION */
header {
  margin: 2rem 10rem;
}
#logo {
  color: #e5e5e5;
  font-size: 3rem;
  font-weight: 800;
}
.menu-item {
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #131f39;
  margin: 0 0.5rem;
  border-radius: 2px;
  background-color: #e5e5e5;
}

/* HERO SECTION CSS STARTS */
#hero {
  margin: 3rem 10rem;
}

#hero-right > h2 {
  font-size: 3rem;
  color: #fca311;
}
#hero-right > p {
  color: #e5e5e5;
  font-size: 2.5rem;
  margin: 1rem 0;
}
#hero-right > div {
  margin: 4em 0;
}
#hero-right > div > a {
  padding: 1.5rem 2rem;
  color: #e5e5e5;
  font-weight: 700;
  font-size: 2.5rem;
  background-color: #fca311;
  border-radius: 5px;
}
#hero-left-desc {
  color: #e5e5e5;
}

#hero-left-desc > h2 {
  font-size: 2.5rem;
  margin: 2rem 0;
}
#hero-left-desc > p {
  font-size: 2rem;
}

#hero-left-desc-mobile {
  display: none;
}

#hero-left > div > img {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  object-fit: cover;
}

@media (min-width: 768px) and (max-width: 1023px) {
  #hero-right > h2 {
    font-size: 2.5rem;
  }
  .menu-item {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
  }
  #hero-left > div > img {
    width: 18rem;
    height: 18rem;
  }
  #hero-right > p {
    font-size: 1.5rem;
  }
  #hero-right > div > a {
    padding: 1rem 1.2rem;
    font-size: 2rem;
  }
  #hero-left-desc > h2 {
    font-size: 2rem;
  }
  #hero-left-desc > p {
    font-size: 1.5rem;
  }
}
@media (min-width: 450px) and (max-width: 767px) {
  #hero {
    margin: 2rem 3rem;
    flex-direction: column-reverse;
    overflow: hidden;
  }

  header {
    margin: 2rem 5rem;
  }

  #logo {
    font-size: 2rem;
  }

  #hero-left {
    flex-direction: column-reverse;
    margin: 1rem 0;
  }
  #hero-left > div {
  }
  .menu-item {
    display: none;
  }
  #hero-right > h2 {
    font-size: 2rem;
  }
  .menu-item {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
  }
  #hero-left > div > img {
    width: 18rem;
    height: 18rem;
  }
  #hero-right > p {
    font-size: 2rem;
  }
  #hero-right > div > a {
    padding: 1rem 1.2rem;
    font-size: 2rem;
  }
  #hero-left-desc {
    display: none;
  }
  #hero-left-desc-mobile {
    color: #e5e5e5;
    display: block;
    margin: 1.5rem 0AI;
  }
  #hero-left-desc-mobile {
    height: auto;
    width: fit-content;
  }
  #hero-left-desc-mobile > h2 {
    font-size: 2.5rem;
    margin: 1rem 0;
  }
  #hero-left-desc-mobile > p {
    font-size: 2rem;
  }
  #hero-right > div > a {
    padding: 1rem 1.5rem;
    color: #e5e5e5;
    font-weight: 700;
    font-size: 2rem;
    background-color: #fca311;
    border-radius: 5px;
  }
}
@media (max-width: 499px) {
  #hero {
    margin: 2rem 4rem;
    flex-direction: column-reverse;
    overflow: hidden;
  }

  header {
    margin: 2rem 3rem;
  }

  #logo {
    font-size: 2rem;
  }

  #hero-left {
    flex-direction: column-reverse;
    margin: 1rem 0;
  }
  #hero-left > div > img {
    border: 5px solid #fca311;
  }
  #hero-left > div {
  }
  .menu-item {
    display: none;
  }
  #hero-right > h2 {
    font-size: 2rem;
  }
  .menu-item {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
  }
  #hero-left > div > img {
    width: 18rem;
    height: 18rem;
  }
  #hero-right > p {
    font-size: 1.5rem;
  }
  #hero-right > div > a {
    padding: 1rem 1.2rem;
    font-size: 2rem;
  }
  #hero-left-desc {
    display: none;
  }
  #hero-left-desc-mobile {
    color: #e5e5e5;
    display: block;
    margin: 1.5rem 0AI;
  }
  #hero-left-desc-mobile {
    height: auto;
    width: fit-content;
  }
  #hero-left-desc-mobile > h2 {
    font-size: 2.5rem;
  }
  #hero-left-desc-mobile > p {
    font-size: 1.5rem;
  }
  #hero-right > div > a {
    padding: 1rem 1.5rem;
    color: #e5e5e5;
    font-weight: 700;
    font-size: 2rem;
    background-color: #fca311;
    border-radius: 5px;
  }
}
/* ABOUT ME SECTION CSS STARTS */
#about-section {
  margin: 1rem 10rem;
}

#about-section > h2 {
  color: #fca311;
  font-size: 5rem;
  text-align: center;
}

#about-content > div > img {
  max-width: 40rem;
  border-radius: 50%;
  object-fit: cover;
}
#about-content > div {
  font-size: 3rem;
  padding: 3rem 0;
}
@media (min-width: 768px) and (max-width: 1023px) {
  #about-section {
    margin: 1reme 5rem;
  }
  #about-section > h2 {
    font-size: 4rem;
  }

  #about-content > div {
    font-size: 1.5rem;
    padding: 3rem 0;
  }

  #about-content > div > img {
    max-width: 20rem;
    border-radius: 50%;
    object-fit: cover;
  }
}
@media (max-width: 767px) {
  #about-section {
    margin: 1rem 3rem;
  }
  #about-content {
    flex-direction: column-reverse;
  }
}
/* PROJECT SECTION STARTS */
#project-section {
  margin: 1rem 10rem;
}

#project-section > h2 {
  font-size: 5rem;
  color: #fca311;
  text-align: center;
  margin: 3rem 0;
}
.project-card > h3 {
  color: #fca311;
  font-size: 2.5rem;
  margin: 2rem 0;
}
.project-card > img {
  max-width: 30rem;
  border-radius: 10px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  #project-section {
    margin: 1rem 10rem;
  }
  #projects-cards {
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  #project-section {
    margin: 1rem 3rem;
  }
  #projects-cards {
    flex-direction: column;
  }
  .project-card {
    width: 100%;
  }
  .project-card > img {
    max-width: 400rem;
    width: 100%;
  }
}

/* Blog Section */
#Blog{
  margin: 10rem 0;
}
#Blog > h2{
  font-size: 5rem;
  color: #fca311;
  text-align: center;
  margin: 3rem 0;
}
.blog-cards{
  margin: 5rem 9rem;
}
.blog-card img{
  max-width: 35rem;
  height: 20rem;
  border-radius: 10px;
  margin: 0 2rem;
}
.author{
  margin: 1rem;
}
.author > img{
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 100%;
}
.desc{
  margin: .01rem -1rem;
}
.desc p{
  margin: .5rem;
}
.desc h4{
  font-size: 1.5rem;
}
.blog-card h3{
  font-size: 2rem;
}
.likes img{
  width: 6rem;
  height: 6rem;
}
.likes p{
  font-size: 1.2rem;
  margin-top: 2rem;
}
.comments img{
  width: 3.5rem;
  height: 3.5rem;
  margin-top: 1.2rem
}
.comments p{
  font-size: 1.2rem;
  margin-top: 2rem;
}
@media (min-width: 768px) and (max-width: 1023px) {
  #Blog {
    margin: 1rem 10rem;
  }

  .blog-cards {
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  #Blog {
    margin: 1rem 3rem;
  }

  .blog-cards {
    flex-direction: column;
  }

  .blog-card {
    width: 100%;
  }

  .blog-card>img {
    max-width: 400rem;
    width: 100%;
  }
}
/* footer section */
#contact {
  margin-left: 280px;
}

form {
  background-color: #1A1F29;
  width: 70rem;
  height: 45rem;
  padding-top: 49px;
  padding-left: 150px;
  display: flex;
  flex-direction: column;
  border-radius: 40px;
}

.inputs {
  background-color: #1A1F29;
  text-decoration: none;
  border: none;
  margin: 10px 0;
  font-size: 1.3rem;
}

.labels {
  color: #E5E5E5;
  font-size: 1.8rem;
}

.contact-me {
  font-size: 5rem;
  color: #E5E5E5;
  margin-bottom: 20px;
}

.submitBtn {
  width: 70%;
  text-align: center;
  margin-top: 30px;
  background-color: #c98416;
  padding: 10px 10px;
  font-size: 20px;
  color: #E5E5E5;
  font-weight: bold;
  letter-spacing: .5px;
  /* margin-left: 30px; */
  border: none;
  border-radius: 26px;
}

.line {
  border: 1px solid #141414;
  width: 44rem;
  position: relative;
  bottom: 8px;
  right: 7px;
}
.login-form {
   margin:10rem 30rem; 
  left: 100px;
}

.error {
    color: #e74c3c;
    font-size: 14px;
    margin-top: 5px;
}

.success {
    color: #2ecc71;
    font-size: 14px;
    margin-top: 5px;
}
